<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                </div>
            </div>
            <div class="row">
            <p>
                87% of children in Sub-Saharan Africa fail to achieve reading profiency in their respective 
                languages. In developing contexts like the Côte d'Ivoire, support for education systems is very
                important for a variety of reasons. Through the support of organizations such as Pratham and the 
                introduction of programs like Teaching at the Right Level, communities are able to increase the 
                success of their students.
            </p>
            <p>
                Students in rural areas of the cacao farming regions of the Côte d'Ivoire often find themselves 
                held home from school to help their parents harvest. This creates instability in the child's education,
                as they progress in age, but often miss so much schooling that they are unable to catch up and
                become frustrated, creating even more of a barrier for them.
            </p>
            <p>
                Teaching at the Right Level is a program that reorganizes students into "levels" based on their
                tested knowledge, rather than their age. This allows students to be more engaged in their education
                and ensures that they are able to progress at their own speed. A non-governmental organization called
                Pratham implemented this teaching program in multiple developing contexts, where it achieved success, 
                before coming to the Côte d'Ivoire. Now they are working to train the teachers in the new curriculum 
                and provide long-term support to them through their government ministry.
            </p>
            <p> 
                Currently, teachers are mentored through visits by ministry officials, but infrastructural 
                challenges (i.e. poor roads, travel cost, etc) and lack of mentors reduce the frequency of 
                visits. Our initial research suggests that teachers receive mentoring visits once or twice 
                in an academic year. This, coupled with lack of access to resources, makes it hard for 
                teachers to successfully implement Teaching at the Right Level. The SEME Team is working to
                identify and provide a support system using technology that the teachers already live with 
                to provide them with a medium to ask questions and receive support consistently rather than 
                only when supervisors are able to physically visit the schools. 
            </p>
            </div>
            <div class="row">
                 <center><a href="https://www.teachingattherightlevel.org/tarl-in-action/cote-divoire/" class="page-scroll btn btn-xl">Teaching at the Right Level</a></center>
            </div>

            </div>
        </div>
    </section>