<!-- Clients Aside -->
    
    <aside class="clients" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Partners</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <a href="#" class="portfolio-link" data-toggle="modal">
                        <img src="img/logos/cmu.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="#" class="portfolio-link" data-toggle="modal">
                        <img src="img/logos/hcii.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="#" class="portfolio-link" data-toggle="modal">
                        <img src="img/logos/upenn.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <a href="#" class="portfolio-link" data-toggle="modal">
                        <img src="img/logos/udel.png" class="img-responsive img-centered" alt="" height="50">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="#" class="portfolio-link" data-toggle="modal">
                        <img src="img/logos/pratham.png" class="img-responsive img-centered" alt="" height="50">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="#" class="portfolio-link" data-toggle="modal">
                        <img src="img/logos/tarl.png" class="img-responsive img-centered" alt="" height="50">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <a href="#" class="portfolio-link" data-toggle="modal">
                        <img src="img/logos/creap.png" class="img-responsive img-centered" alt="" height="50">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="#" class="portfolio-link" data-toggle="modal">
                        <img src="img/logos/jacobs.png" class="img-responsive img-centered" alt="" height="50">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="#" class="portfolio-link" data-toggle="modal">
                        <img src="img/logos/cmlh.png" class="img-responsive img-centered" alt="" height="50">
                    </a>
                </div>
            </div>
        </div>
    </aside>
